@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
body
{
    padding-top: 20px;
}
#myCarousel .nav a small
{
    display: block;
}
#myCarousel {
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }

#navNav {
	background: white;
	border: none;
	height: auto;
}
#bottomDiv {
	margin-top: 80px;
}

#toppic {
	height: 180px;
	background:url('../img/bg.jpg');
}

#announce {
	background: black;
}

ul {
	list-style-type: none;
}
#announce > div {
	background: rgba(144,144,144,0.5);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow-y:scroll; 
	overflow-x:visible;
}
#titleName {
	color: white;
	position: relative;
	top: 40px;
	left: 30px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 4em;
}