@import url(http://fonts.googleapis.com/css?family=Lato:700);

#announcements {
	background: aliceblue;
	padding: 20px;
}

#activities {
	padding-bottom: 20px;
	margin-top: 10px;
}

#messages {
	padding-bottom: 20px;
	margin-top: 10px;
}
